[Unit]
Description=Waggle Sanity Check

[Service]
Restart=always
RestartSec=15s
WatchdogSec=3min
ExecStart=/usr/bin/waggle_sanity_check.py

[Install]
WantedBy=multi-user.target
